.App {
  text-align: center;
}

.dark {
  background-color: #0F151B !important;
  color: #fff !important;
  box-shadow: 0 15px 40px -20px rgba(255, 255, 255, 0.15) !important;
}

.dark input::placeholder {
  color: #0F151B !important;
}

.dark table thead th {
  color: #eee !important;
  font-weight: 600 !important;
}

.dark table tr td {
  color: #eee !important;
}

.dark ::global(.MuiSelect-select) {
  border-bottom: #eee !important;
}

.dark label {
  color: #eee !important;
}

.dark div[role="button"] {
  color: #eee !important;
}


/* Light */
.light {
  color: #212121 !important;
  background-color: #fff !important;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15) !important;
}

.light input::placeholder {
  color: #0F151B !important;
}

.light table thead th {
  font-weight: 600 !important;
}

.light ::global(.MuiSelect-select) {
  border-bottom: #eee !important;
}